%div.font-size-18.margin-left-10
  %p
  %a{ href: 'https://www.fosslinux.com/842/how-to-install-fedora-in-a-dual-boot-setup-with-windows.html', target: 'blank' } Fedora
  %span= raw t('fedora.how_install')
%br
%br
%br

%h4= raw t('windows.head', platform: "Fedora")
%div.font-size-18.margin-left-10
  %a{ href: 'https://snapcraft.io/docs/installing-snap-on-fedora', target: 'blank' }
    %strong= raw t('fedora.snap')
  %br
  %br
  .margin-left-10
    %p
    %a{ href: 'https://snapcraft.io/install/postman/fedora', target: 'blank' }Postman
    %span= raw t('windows.postman')
    %p
    %a{ href: 'https://snapcraft.io/zoom-client', target: 'blank' }Zoom
    %span= raw t('windows.zoom')
    %p
    %a{ href: 'https://snapcraft.io/intellij-idea-community', target: 'blank' }Idea
    %span= raw t('windows.editor', platform: "Java")
    %p
    %a{ href: 'https://snapcraft.io/rubymine', target: 'blank' }RubyMine
    %span= raw t('windows.editor', platform: "Ruby")
    %p
    %a{ href: 'https://snapcraft.io/webstorm', target: 'blank' }WebStorm
    %span= raw t('windows.editor', platform: "JS")

  %br
  %br
  %strong= raw t('fedora.no_snap')
  .margin-left-10
    %p
    %a{ href: 'https://kifarunix.com/install-and-setup-zsh-and-oh-my-zsh-on-fedora-32/', target: 'blank' }Oh-My-Zsh
    %span= raw t('windows.zsh')
    %p
    %a{ href: 'https://www.2daygeek.com/terminator-linux-terminal-emulator-supports-multiple-terminals-in-one-window/', target: 'blank' }Terminator
    %span= raw t('windows.terminator')
    %p
    %a{ href: 'https://computingforgeeks.com/how-to-install-docker-on-fedora/', target: 'blank' }Docker
    %span= raw t('windows.docker')
    %p
    %a{ href: 'https://developer.fedoraproject.org/tools/docker/docker-installation.html', target: 'blank' }Docker (Fedora)
    %span= raw t('windows.docker')
    %p
    %a{ href: 'https://www.ssh.com/academy/ssh/key', target: 'blank' }SSH
    %span= raw t('windows.ssh')
