%h4= raw t('windows.head', platform: "Windows")
%div.font-size-18.margin-left-10
  %br
  %br
  %a{ href: 'https://git-scm.com/downloads' } Git
  %span= raw t('windows.git')
  %p
  %a{ href: 'https://www.putty.org/' } Putty
  %span= raw t('windows.putty')
  %p
  %a{ href: 'https://www.faststone.org/' } FastStone
  %span= raw t('windows.fast_stone')
  %p
  %span= raw t('windows.sys.env1')
  %a{ href: 'https://superuser.com/questions/949560/how-do-i-set-system-environment-variables-in-windows-10' }= raw t('windows.sys.env2')
  %span= raw t('windows.sys.env3')
  %p
  %a{ href: 'https://www.docker.com/products/docker-desktop' } Docker
  %span= raw t('windows.docker')
  %p
  %a{ href: 'https://www.postman.com/' } Postman
  %span= raw t('windows.postman')
  %p
  %a{ href: 'https://zoom.us/download' } Zoom
  %span= raw t('windows.zoom')
  %p
  %a{ href: 'https://www.ssh.com/academy/ssh/key' } SSH
  %span= raw t('windows.ssh')
