#home.tab-pane.fade.in.active
  %h3= raw t('tests.gui.ruby.native.header')
  %div.font-size-16
    %blockquote
      %i
        = raw t('tests.gui.ruby.native.tutorial')
        = raw t('tests.gui.ruby.native.tutorial2')


    = raw t('tests.gui.ruby.native.tutorial3')
    .margin-left-20{ style: "border-left: 4px solid green; margin: 20px; padding: 20px;"}
      = render "shared/pre", f: "ruby/gems_install_chromedriver", id: "install_gem_chromedriver"
      = render "shared/pre", f: "ruby/gems_install_seleniumdriver", id: "install_gem_seleniumdriver"
      %img.size-35.radius{src: "/assets/code/gui/ruby/installs_gems.png"}

    %br
    = raw t('tests.gui.ruby.native.create_test_file')
    %br
    = raw t('tests.gui.ruby.native.create_test_file2')

    .margin-left-20{ style: "border-left: 4px solid yellow; margin: 20px; padding: 20px;"}
      = render "shared/pre", f: "ruby/create_file_test", id: "create_file_test"

    = raw t('tests.gui.ruby.native.create_test_file3')
    .margin-left-20{ style: "border-left: 4px solid yellow; margin: 20px; padding: 20px;"}
      = render "shared/pre", f: "ruby/create_file_test_win", id: "create_file_test_win"

    %br

    = raw t('tests.gui.ruby.native.code1')
    .margin-left-20{ style: "border-left: 4px solid #333; margin: 20px; padding: 20px;"}
      = render "shared/pre_with_comments", f: "ruby/code1.rb", id: "code1", comments: [ t("tests.gui.ruby.native.comment1"), t("tests.gui.ruby.native.comment2"), t("tests.gui.ruby.native.comment3") ]
      = raw t('tests.gui.ruby.native.runner')
      = render "shared/pre_with_comments", f: "ruby/runner", id: "run_code", comments: [ "code1.rb" ]

    %br

    = raw t('tests.gui.ruby.native.code2')
    .margin-left-20{ style: "border-left: 4px solid #061d02; margin: 20px; padding: 20px;"}
      = render "shared/pre_with_comments", f: "ruby/code2.rb", id: "code2", comments: [ t("tests.gui.ruby.native.comment4"), t("tests.gui.ruby.native.comment5"), t("tests.gui.ruby.native.comment6"), t("tests.gui.ruby.native.comment7") ]
      = raw t('tests.gui.ruby.native.runner')
      = render "shared/pre_with_comments", f: "ruby/runner", id: "run_code", comments: [ "code2.rb" ]

    %br

    = raw t('tests.gui.ruby.native.code3')
    .margin-left-20{ style: "border-left: 4px solid #b75614; margin: 20px; padding: 20px;"}
      = render "shared/pre_with_comments", f: "ruby/code3.rb", id: "code3", comments: [ t("tests.gui.ruby.native.comment8"), t("tests.gui.ruby.native.comment9"), t("tests.gui.ruby.native.comment10"), t("tests.gui.ruby.native.comment11"), t("tests.gui.ruby.native.comment12"), t("tests.gui.ruby.native.comment13"), t("tests.gui.ruby.native.comment14"), t("tests.gui.ruby.native.comment15") ]
      = raw t('tests.gui.ruby.native.runner')
      = render "shared/pre_with_comments", f: "ruby/runner", id: "run_code", comments: [ "code3.rb" ]

    %br

    = raw t('tests.gui.ruby.native.code4')
    .margin-left-20{ style: "border-left: 4px solid #d23c0e; margin: 20px; padding: 20px;"}
      = render "shared/pre_with_comments", f: "ruby/example/test1.rb", id: "test1", comments: [ t("tests.gui.ruby.native.comment16")]
      = render "shared/pre", f: "ruby/example/test2.rb", id: "test2"
      = render "shared/pre", f: "ruby/example/test3.rb", id: "test3"
      = render "shared/pre_with_comments", f: "ruby/example/runner.rb", id: "runner", comments: [ t("tests.gui.ruby.native.comment17")]
      = raw t('tests.gui.ruby.native.runner')
      = render "shared/pre_with_comments", f: "ruby/runner", id: "run_code", comments: [ "runner.rb" ]
