%body
  %header#pageHeader
    = t ('describe.header')
    %br

  %article#mainArticle
    #body-container

  %nav#mainNav
    = render "shared/select_lang"
    = render "shared/main"
    = render "shared/installs"
    = render "shared/web"
    = render "shared/api"
    = render "shared/mobile"
    = render "shared/about"

  #siteAds
  %footer#pageFooter.pull-rigth-90-perc.fw-900= t :author

