%br
%ul.nav.nav-tabs.margin-left-10
  %li.active.nav-item
    %a.nav-link{"data-toggle" => "tab", href: "#home"}= t ('describe.tabs_and_page.tab_what_is_this_testing.tab')
  %li.nav-item
    %a.nav-link#types-qa{"data-toggle" => "tab", href: "#menu1"}= t ('describe.tabs_and_page.tab_testing_types.tab')
  %li
    %a{"data-toggle" => "tab", href: "#menu2"}= t ('describe.tabs_and_page.tab_who_are_qa.tab')
  %li
    %a{"data-toggle" => "tab", href: "#menu4"}= t ('describe.tabs_and_page.tab_gui')
  %li
    %a{"data-toggle" => "tab", href: "#menu5"}= t ('describe.tabs_and_page.tab_api')
  %li
    %a{"data-toggle" => "tab", href: "#menu6"}= t ('describe.tabs_and_page.tab_mobile')

.tab-content
  = render "main_page/tabs/home"
  = render "main_page/tabs/menu1"
  = render "main_page/tabs/menu2"
  #menu4.tab-pane.fade
    %h3 Cucumber + RestAssured
    %p Some content in menu 1.
  #menu5.tab-pane.fade
    %h3 Cucumber + RestAssured
    %p Some content in menu 1.
  #menu6.tab-pane.fade
    %h3 Cucumber + RestAssured
    %p Some content in menu 1.



