#home.tab-pane.fade.in.active
  %div
  %br
    .font-size-18#tab1-main
      &nbsp;&nbsp;&nbsp;&nbsp;
      %blockquote.radius
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line1')
      .margin-left-20
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line2')
      %br
      = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line3')
      %p
      %strong
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line4')
      %p
      = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line5')
      %br
      %br
      .margin-left-20
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line6')
      %br
      %span.img-container-center
      - if params[:locale] == "ru"
        %img.size-85{src: "/assets/life-ru.svg"}
      - if params[:locale] == "en"
        %img.size-85{src: "/assets/life-en.svg"}
      %br
      .margin-left-20
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line7').html_safe
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line8').html_safe
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line9').html_safe
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line10').html_safe
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line11').html_safe
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line12').html_safe

      %br
      %br
      %blockquote.radius
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line13').html_safe
      %br
      .margin-left-20
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line14').html_safe
      %br
      .margin-left-20
        = t('describe.tabs_and_page.tab_what_is_this_testing.describe.line15').html_safe

      :javascript
        function clickTab(selector) {
            console.log("click tab")
            var sideNavScrollbar = document.querySelector(selector);
            sideNavScrollbar.click()
        }