#menu2.tab-pane.fade
  %br
  %br
  %blockquote.radius= t('describe.tabs_and_page.tab_who_are_qa.head').html_safe

  %br
  .font-size-18
    = t('describe.tabs_and_page.tab_who_are_qa.describe').html_safe
  %br
  %br
  %blockquote.radius= t('describe.tabs_and_page.tab_who_are_qa.describe2').html_safe
  %br

  %br
  %strong
    .font-size-18.margin-left-20
      = t('describe.tabs_and_page.tab_who_are_qa.responsibilities').html_safe
  %br
  %br
  %div.display-flex
    %div
      %blockquote.font-size-18
        = t('describe.tabs_and_page.tab_who_are_qa.responsibilities_describe').html_safe

    %br
    %div
      %span.img-container-center
        %img.size-85{src: "/assets/QA3.png"}
